name: C++ CI Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        include:
          - os: ubuntu-latest
            compiler: g++
            suffix: linux
          - os: windows-latest
            compiler: g++.exe
            suffix: windows

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt update
          sudo apt install g++-multilib libpthread-stubs0-dev

      - name: Install dependencies (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          choco install mingw

      - name: Change to the Pr치tica directory
        run: cd Pr치tica

      - name: Build Server
        run: |
          ${{ matrix.compiler }} -o server-${{ matrix.suffix }} server.cpp -std=c++17 -pthread
        working-directory: Pr치tica

      - name: Build Client
        run: |
          ${{ matrix.compiler }} -o client-${{ matrix.suffix }} client.cpp -std=c++17 -pthread
        working-directory: Pr치tica

      - name: Commit build files
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Build ${{ matrix.os }}"
